<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bigjava.dao.Mapper">
		<select id="findStudentById" resultType="org.bigjava.entitys.Student" parameterType="int">
			select * from Student where student_id=#{id};
		</select>
		
</mapper>