<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bigjava.dao.PublicMapper">

		<insert id="add"  parameterType="org.bigjava.entitys.Student" >
			insert into student(studentName,phone) value(#{studentName},#{phone})
		</insert>
		
		<select id="findUserById" parameterType="int"  resultType="org.bigjava.entitys.User">
   			select * from user where user_id=#{user_id}
        </select>
        
         <insert id="insertUser" parameterType="org.bigjava.entitys.User">
	        <selectKey keyProperty="user_id" order="AFTER" resultType="java.lang.Integer">
	           select last_insert_id();
	        </selectKey>
            insert into user(username,usersex,userphone,jobapplication,imagesrc) 
            				value(#{username},#{usersex},#{userphone},#{jobapplication},#{imagesrc})
        </insert>
        
        
        <select id="findNewsAll" resultType="int">
		    select count(news_id) from news 
		</select>
		
		<select id="findNews" parameterType="org.bigjava.action.tool.Page" resultType="org.bigjava.entitys.News">
			select * from news where news_id limit #{startrow},#{pagesize}
		</select>
		
		<select id="login_student" parameterType="org.bigjava.entitys.Student" resultType="org.bigjava.entitys.Student">
			select*from student where studentNumber=#{studentNumber} and password=#{password}
		</select>
		
		<select id="login_teacher" parameterType="org.bigjava.entitys.Teacher" resultType="org.bigjava.entitys.Teacher">
			select*from teacher where teacherNumber=#{teacherNumber} and teacherPassword=#{teacherPassword}
		</select>
		
		<select id="login_admin" parameterType="org.bigjava.entitys.Management" resultType="org.bigjava.entitys.Management">
			select*from management where account=#{account} and password=#{password}
		</select>
		
		<select id="getAddress" parameterType="java.lang.Integer" resultType="org.bigjava.entitys.Addresss">
			select*from address where address_id = #{a}
		</select>
		
		<select id="getDanceClass" parameterType="org.bigjava.action.tool.AllUserTool" resultType="org.bigjava.entitys.DanceClass">
			select*from danceclass where
			<if test="student.studentName!=null">
				danceclass_id = #{student.danceclass_id}
			</if>
			<if test="teacher.teacherName!=null">
				teacher_id = #{teacher.teacher_id}
			</if>
		</select>
		
		<select id="getKeBiao" parameterType="org.bigjava.entitys.KeBiao" resultType="org.bigjava.entitys.KeBiao">
			select * from kebiao where danceClass_id = #{i}
		</select>
		
		<select id="getAllUser" resultType="org.bigjava.entitys.User">
			select * from user where applicationstatus = '未通过';
		</select>
		    		<select id="findPage_danceclass" resultType="org.bigjava.entitys.DanceClass" parameterType="org.bigjava.action.tool.Page">
            select*from danceclass  limit #{startrow},#{pagesize}
		</select>
		
		<select id="findCount_danceclass" resultType="java.lang.Integer">
			select count(danceclass_id) from danceclass
		</select>
		
		<update id="updateStudent" parameterType="org.bigjava.entitys.Student">
			update student set studentName = #{studentName},phone=#{phone},password=#{password},address_id=#{address_id},studentSex=#{studentSex},YYYY=#{YYYY},MM=#{MM},DD=#{DD} where studentNumber = #{studentNumber}
		</update>
		
		<select id="find_idStudent" parameterType="int" resultType="org.bigjava.entitys.Student">
			select*from student where student_id=#{student_id}
		</select>
</mapper>