<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bigjava.dao.TeacherMapper">

		<select id="findPage_teacher" resultType="org.bigjava.entitys.Teacher" parameterType="org.bigjava.action.tool.Page">
            select * from teacher limit #{startrow},#{pagesize}
		</select>
		<select id="findCount_teacher" resultType="int" >
			select count(teacher_id) from Teacher 
		</select>
		
		<select id="findStudentByClass" resultType="org.bigjava.entitys.Student" parameterType="org.bigjava.action.tool.Page">
            select * from student where danceclass_id=#{canShu1} limit #{startrow},#{pagesize}
		</select>
		<select id="findCount_student" resultType="int">
			select count(student_id) from student where danceclass_id=#{i}
		</select>

</mapper>