			*{
				padding:0;
				margin:0;
			}
			body{
				font-family:"Î¢ÈíÑÅºÚ";
				background-color:black;
			}
			.div_big{
				width:100%;
				height:100%;
			}
			.div_big2{
				width:100%;
				height:1500;
				
			}
			.div_top{
				color:white;
				background:url(../imgs/top.jpg) no-repeat;
				background-size:100% 100%;
				width:100%;
				height:850;
				
			}
			.div1{
				opacity:0.5;filter(alpha=100);
				width:379.25;
				height:570;
				float:left;
				
			}
			.div1:hover{
				opacity:1;filter(alpha=100)
				position:relative;
			}
			.div2{
				opacity:0.5;filter(alpha=100);
				width:379.25;
				height:570;
				float:left;
				position:relative;
			}
			.div2:hover{
				opacity:1;filter(alpha=100);
			}
			.div3{
				opacity:0.5;filter(alpha=100);
				width:379.25;
				height:570;
				float:left;
			}
			.div3:hover{
				opacity:1;filter(alpha=100);
			}
			.div4{
				
				width:379.25;
				height:570;
				float:left;
				opacity:0.5;filter(alpha=100);
			}
			.div4:hover{
				opacity:1;filter(alpha=100)
				position:relative;
			}
			
			
			.div_middle{
				
				width:100%;
				height:570;
			}
			.div_bottom{
				
				
				text-align:center;
				width:100%;
				height:150;
			}
			.logobai{
				
				position:absolute;
				top:30;
				left:20;
			}
			ul{
				
				position:absolute;
				top:200;
				left:60;
			}
			li{
				
				font-size:18;
				list-style-type :none;
			}
			a{
				color:white;
				text-decoration:none;
			}
			.hr1{
				position:absolute;
				top:470;
				left:60;
				background-color:white;
				border:none;
				height:3px;
				width:67.5px;
			}
			.hr2{
				position:absolute;
				top:1150;
				left:120;
				background-color:white;
				border:none;
				height:3px;
				width:130px;
			}
			.hr3{
				position:absolute;
				top:1150;
				left:505;
				background-color:white;
				border:none;
				height:3px;
				width:130px;
			}
			.hr4{
				position:absolute;
				top:1150;
				left:890;
				background-color:white;
				border:none;
				height:3px;
				width:130px;
			}
			.hr5{
				position:absolute;
				top:1150;
				left:1250;
				background-color:white;
				border:none;
				height:3px;
				width:130px;
			}
			.ziti{
				position:absolute;
				top:350;
				left:550;
				font-size:60;
			}
			a:hover{
				
				font-weight:bold; text-decoration:underline;
			}
			.div1_mask{
				
				width:171;
				height:53.4;
				background-color:white;
				font-size:15;
				position:absolute;
				top:1300;
				left:100;
				display:none;
			}
			.div2_mask{
				width:171;
				height:53.4;
				background-color:white;
				font-size:15;
				position:absolute;
				top:450;
				left:105;
				display:none;
			}
			.div3_mask{
				width:171;
				height:53.4;
				background-color:white;
				font-size:15;
				position:absolute;
				top:1300;
				left:870;
				display:none;
			}
			.div4_mask{
				width:171;
				height:53.4;
				background-color:white;
				font-size:15;
				position:absolute;
				top:1300;
				left:1235;
				display:none;
			}
			.baoming{
				color:white;
				position:absolute;
				top:1050;
				left:125;
				font-size:30;
			}
			.curriculum{
				color:white;
				position:absolute;
				top:1050;
				left:510;
				font-size:30;
			}
			.achievement{
				color:white;
				position:absolute;
				top:1050;
				left:895;
				font-size:30;
			}
			.route{
				color:white;
				position:absolute;
				top:1050;
				left:1280;
				font-size:30;
			}
			.div1_sub{
				font-size:20;
				position:absolute;
				top:1310;
				left:145;
				color:black;
				display:none;
			}
			.div2_sub{
				font-size:20;
				position:absolute;
				top:460;
				left:150;
				color:black;
				display:none;
			}
			.div3_sub{
				font-size:20;
				position:absolute;
				top:1310;
				left:915;
				color:black;
				display:none;
			}
			.div4_sub{
				font-size:20;
				position:absolute;
				top:1310;
				left:1280;
				color:black;
				display:none;
			}
			.txtShow .div1_mask ,.txtShow .div1_sub {
				display:block;
			}
			.txtShow .div2_mask ,.txtShow .div2_sub {
				display:block;
			}
			.txtShow .div3_mask ,.txtShow .div3_sub {
				display:block;
			}
			.txtShow .div4_mask ,.txtShow .div4_sub {
				display:block;
			}
			.baoming1{
				position:absolute;
				top:1200;
				left:100;
				color:white;
				
			}
			.curriculum1{
				position:absolute;
				top:1200;
				left:500;
				color:white;
			}
			.achievement1{
				position:absolute;
				top:1200;
				left:890;
				color:white;
			}
			.route1{
				position:absolute;
				top:1200;
				left:1230;
				color:white;
			}
			.logowei{
				width:250;height:250;
				position:absolute;
				top:1350;
				left:50;
			}
			.ending{
				margin:0 auto;
				text-align:center;
				color:white;
				font-size:15;
			}
			