body{
			background:url(../imgs/information.jpg) no-repeat;
			background-size:100% 100%;
			
			font-family: 'Nunito', sans-serif;
			color:white;
			font-size:20;
		}
		.mydance{
			font-size:50;
			font-weight:300;
			position:absolute;
			left:690;
			top:30;
		}
		.logobai{
			width:130;
			height:130;
			position:absolute;
			left:540;
			top:-5;
			
		}
		span{
			font-weight:700;
			
		}
		.form{
			position:absolute;
			top:100;
			left:500;
			width:500;
			height:100;
			text-align:center;
		}
		input[type="text"]{
			padding:10px 40px 10px 10px;
			width:70%;
			border:1px solid #fff;
			color:#fff;
			text-align:left;
			outline:none;
			font-size:18px;
			background:url(imgs/person.png) no-repeat 440px 10px;
			margin-top:4%;
			font-weight: 300;
			font-family: "Times New Roman";
			border-radius: 4px;
		}
		input[type="password"]{
			padding:10px 40px 10px 10px;
			width:70%;
			border:1px solid #fff;
			color:#fff;
			text-align:left;
			outline:none;
			font-size:18px;
			background:url(imgs/person.png) no-repeat 440px 10px;
			margin-top:4%;
			font-weight: 300;
			font-family: "Times New Roman";
			border-radius: 4px;
		}
		
		.person{
			position:absolute;
			top:235;
			left:540;
		}
		.phone{
			position:absolute;
			top:360;
			left:540;
		}
		.lock{
			position:absolute;
			top:422;
			left:540;
		}
		input::-webkit-input-placeholder{ 
		/* WebKit browsers */
			color:white;opacity:0.7;
		}
		
		.enrollfor{
			font-size:35;
			position:absolute;
			top:0;
			left:190;
		}
		.big{
			background-color:rgba(0,0,0,0.21);
			opacity:0.8;
			position:absolute;
			top:100;
			left:390;
			max-width:1000;
			width:700;
			height:650;
			
			border-radius: 25px;
		}
		.btn{
			font-size:20;
			
			border:0;
			background-color:#4c9a39;
			position:absolute;
			top:600;
			left:113;
			width:30%;
			height:45;
			border-radius: 4px;
			cursor:pointer;
		}
		.btn:hover{
			background-color:#376d29;
			color:#fff;
		}
		.btn1{
			font-size:20;
			
			border:0;
			background-color:#4c9a39;
			position:absolute;
			top:600;
			left:315;
			width:30%;
			height:45;
			border-radius: 4px;
			cursor:pointer;
		}
		.btn1:hover{
			background-color:#376d29;
			color:#fff;
		}
		.birth{
			padding:10px 40px 10px 10px;
			width:22.5%;
			border:1px solid #fff;
			background:rgba(0,0,0,0);
			text-align:left;
			outline:none;
			font-size:18px;
			margin-top:4%;
			font-weight: 300;
			font-family: "Times New Roman";
			border-radius: 4px;
			color:#ccc;
		}
		select{
			padding:10px 40px 10px 10px;
			width:22.5%;
			border:1px solid #fff;
			background:rgba(0,0,0,0);
			text-align:left;
			outline:none;
			font-size:18px;
			margin-top:4%;
			font-weight: 300;
			font-family: "Times New Roman";
			border-radius: 4px;
			color:#ccc;
		}
		textarea{
			padding:10px 40px 10px 10px;
			border:1px solid #fff;
			background:rgba(0,0,0,0);
			outline:none;
			font-size:18px;
			position:absolute;
			top:525;
			left:117;
			font-family: "Times New Roman";
			border-radius: 4px;
			color:white;
		}
		.address{
			position:absolute;
			top:530;
			left:11;
			
		}
		#feedbackcontent::-webkit-input-placeholder{
			color:white;
			opacity:0.7;
		}